# 1. ETL (Carga y transformación de datos)

Importamos las líbrerias a utilizar

In [1]:
import pandas as pd
import json # Para trabajar con JSON
from pandas import json_normalize
pd.set_option('display.max_columns', None)
# Recarga automática de módulos antes de ejecutar
#%load_ext autoreload
#%autoreload 2

import warnings
warnings.filterwarnings("ignore")

## 1.1. Ingesta de datos (Extraction)

Se cuenta con dos archivos csv

In [2]:
# Cargamos el df1
df1=pd.read_csv(r'D:/2024/HenryData/Py_Individual/datos_crudos/movies_dataset.csv', encoding='utf-8')

In [3]:
print(df1.shape)
df1.head(2)

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
# Para unir los dfs necesitamos cambiar el tipo de datos del 'id' del df1
df1 = df1[df1['id'].str.isnumeric()] #Eliminamos las filas que contengan valores nnúmericos
#Cambiamos el tipo de dato 
df1['id'] = df1['id'].astype(int)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  object
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int32
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), int32(1), object(19)
memory usage: 8.5+ MB

In [7]:
# Cargamos el df2
df2=pd.read_csv(r'D:/2024/HenryData/Py_Individual/datos_crudos/credits.csv', encoding='utf-8')
#D:\2024\HenryData\Py_Individual\datos_crudos\credits.csv

In [8]:
print(df2.shape)
df2.head(2)

(45476, 3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [10]:
# Unimos los df1 y df2 sólo las filas que coincidan en 'id' en ambos
df_movies = pd.merge(df1, df2, on='id', how='inner')

In [11]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45538 non-null  object
 1   belongs_to_collection  4500 non-null   object
 2   budget                 45538 non-null  object
 3   genres                 45538 non-null  object
 4   homepage               7792 non-null   object
 5   id                     45538 non-null  int32
 6   imdb_id                45521 non-null  object
 7   original_language      45527 non-null  object
 8   original_title         45538 non-null  object
 9   overview               44584 non-null  object
 10  popularity             45535 non-null  object
 11  poster_path            45152 non-null  object
 12  production_companies   45535 non-null  object
 13  production_countries   45535 non-null  object
 14  release_date           45451 non-null  object
 15  revenue                45535 non-null  float64
 16  runtime                45278 non-null  float64
 17  spoken_languages       45535 non-null  object
 18  status                 45454 non-null  object
 19  tagline                20439 non-null  object
 20  title                  45535 non-null  object
 21  video                  45535 non-null  object
 22  vote_average           45535 non-null  float64
 23  vote_count             45535 non-null  float64
 24  cast                   45538 non-null  object
 25  crew                   45538 non-null  object
dtypes: float64(4), int32(1), object(21)
memory usage: 8.9+ MB

## 2. Tratamiento de datos (Transform):

In [12]:
print(df_movies.shape)
df_movies.head(2)

(45538, 26)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

Eliminamos columnas que no se necesitaran

In [13]:
column_drop=['video','imdb_id','adult','original_title','poster_path','homepage'] # columnas a eliminar

In [14]:
df_movies= df_movies.drop(column_drop, axis=1)

In [15]:
# Luego de eliminar las columnas que no serán necesarias para el análisis se cuentan con 19 columnas.
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4500 non-null   object
 1   budget                 45538 non-null  object
 2   genres                 45538 non-null  object
 3   id                     45538 non-null  int32
 4   original_language      45527 non-null  object
 5   overview               44584 non-null  object
 6   popularity             45535 non-null  object
 7   production_companies   45535 non-null  object
 8   production_countries   45535 non-null  object
 9   release_date           45451 non-null  object
 10  revenue                45535 non-null  float64
 11  runtime                45278 non-null  float64
 12  spoken_languages       45535 non-null  object
 13  status                 45454 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45535 non-null  object
 16  vote_average           45535 non-null  float64
 17  vote_count             45535 non-null  float64
 18  cast                   45538 non-null  object
 19  crew                   45538 non-null  object
dtypes: float64(4), int32(1), object(15)
memory usage: 6.8+ MB

In [16]:
# Se muesta el DF con las nuevas columnas, se observa que algunas columnas estan anidados en formato de diccionario y listas. 
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

*Columna anidada:*  belongs_to_collection, los valores de esta columna estan anidadas en formato cadena y las convertiremos a diccionario, para ello se emplea la funcion convert_a_dic, luego aplicamos la función en la columna y finalmente extraer el valor 'name' de la columna.

In [17]:
import ast #importamos la libreria
# Funcion 1, para convertir los valores de la comlumna que estan en formato cadenas a diccionario 
def convert_a_dic(val):
    if isinstance(val, str):  # Verifica si el valor es una cadena
        try:
            return ast.literal_eval(val)  # Intenta convertir la cadena a diccionario
        except (ValueError, SyntaxError):
            return None  # Si falla, devuelve None (para representar sin colección)
    return val  # Si ya es un diccionario, lo retorna sin cambios

In [18]:
# Aplicamos la función para convertir de candena a diccionario
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(convert_a_dic)

In [19]:
# Extraemos el valor name del diccionario y si esta vacío se coloca 'No collecction' para no perder datos
df_movies['belongs_to_collection']=df_movies['belongs_to_collection'].apply(lambda x: x['name']if isinstance(x, dict) else 'No collecction')

In [20]:
df_movies.head(2) # verificamos los cambios

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,No collecction,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

*Columnas anidadas:* genres, production_companies, production_countries, spoken_languages, cast, crew; en el caso de estas columnas los valores estan anidadas en formato cadena y las convertiremos a lista, para ello se emplea la funcion convert_a_list, luego aplicamos la función en cada una de las columnas, con el objetivo de extraer el valor requerido para el análisis de la columna.

In [21]:
# Función 2 para convertir la cadena en lista 
def convert_a_list(val):
    if isinstance(val, str):  # Verifica si el valor es una cadena
        try:
            return ast.literal_eval(val)  # Intenta convertir la cadena a lista
        except (ValueError, SyntaxError):
            return []  # Si falla, devuelve una lista vacía
    elif isinstance(val, (float, bool)) and pd.isna(val):  # Maneja valores nulos (NaN)
        return []
    elif isinstance(val, (float, bool)):  # Maneja casos en los que es un valor booleano o float no nulo
        return []
    return val  # Si ya es una lista, lo retorna sin cambios

In [ ]:
# Aplciamos la funcion para convertir de candena a lista 
df_movies['genres'] = df_movies['genres'].apply(convert_a_list)

# Extraemos el valor name 
df_movies['genres'] = df_movies['genres'].apply(lambda x: [d['name'] for d in x if 'name' in d])

# Para que el valor de la columna género aparezca sepadado por una coma 
df_movies['genres'] = df_movies['genres'].apply(lambda x: ', '.join(x))

In [ ]:
# Aplicamos la funcion para convertir de candena a lista 
df_movies['production_companies'] = df_movies['production_companies'].apply(convert_a_list)
# Extraemos el valor name 
df_movies['production_companies'] = df_movies['production_companies'].apply(lambda x: [d['name'] for d in x if 'name' in d])
# Para que los valores de la columna aparezca separado por una coma
df_movies['production_companies'] = df_movies['production_companies'].apply(lambda x: ' '.join(x))

In [ ]:
# Aplicamos la funcion para convertir de candena a lista 
df_movies['production_countries'] = df_movies['production_countries'].apply(convert_a_list)
# Extraemos el valor name del dic
df_movies['production_countries'] = df_movies['production_countries'].apply(lambda x: [d['name'] for d in x if 'name' in d])
# Para que los valores de la columna aparezca separado por una coma
df_movies['production_countries'] = df_movies['production_countries'].apply(lambda x: ', '.join(x))

In [ ]:
# Aplicamos la funcion para convertir de candena a lista
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(convert_a_list)
# Extraemos el valor name 
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(lambda x: [d['name'] for d in x if 'name' in d])
# Para que los valores de la columna aparezca separado por una coma
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(lambda x: ', '.join(x))

In [26]:
# Observamos los cambios en el DF
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [27]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45538 non-null  object
 1   budget                 45538 non-null  object
 2   genres                 45538 non-null  object
 3   id                     45538 non-null  int32
 4   original_language      45527 non-null  object
 5   overview               44584 non-null  object
 6   popularity             45535 non-null  object
 7   production_companies   45538 non-null  object
 8   production_countries   45538 non-null  object
 9   release_date           45451 non-null  object
 10  revenue                45535 non-null  float64
 11  runtime                45278 non-null  float64
 12  spoken_languages       45538 non-null  object
 13  status                 45454 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45535 non-null  object
 16  vote_average           45535 non-null  float64
 17  vote_count             45535 non-null  float64
 18  cast                   45538 non-null  object
 19  crew                   45538 non-null  object
dtypes: float64(4), int32(1), object(15)
memory usage: 6.8+ MB

Modificar: Tipo de dato de la columna 'budget' y completar las filas que tenhan NAN con cero

In [28]:
# Observamos que la colunna budget es de tipo objeto, por lo que se debe de convertir en númerico
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

In [29]:
# Rellenar los NaN de la columna 'budget'con 0 
df_movies['budget'].fillna(0, inplace=True)

In [30]:
# Observamos los cambios
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [31]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45538 non-null  object
 1   budget                 45538 non-null  int64
 2   genres                 45538 non-null  object
 3   id                     45538 non-null  int32
 4   original_language      45527 non-null  object
 5   overview               44584 non-null  object
 6   popularity             45535 non-null  object
 7   production_companies   45538 non-null  object
 8   production_countries   45538 non-null  object
 9   release_date           45451 non-null  object
 10  revenue                45535 non-null  float64
 11  runtime                45278 non-null  float64
 12  spoken_languages       45538 non-null  object
 13  status                 45454 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45535 non-null  object
 16  vote_average           45535 non-null  float64
 17  vote_count             45535 non-null  float64
 18  cast                   45538 non-null  object
 19  crew                   45538 non-null  object
dtypes: float64(4), int32(1), int64(1), object(14)
memory usage: 6.8+ MB

Eliminar duplicados según 'id'

In [32]:
# Para la columna id verificamos si hay duplicados 
duplica = df_movies[df_movies.duplicated(['id'])]

In [33]:
print(f"Duplicados encontrados: {len(duplica)}")

Duplicados encontrados: 106

In [34]:
# Eliminamos las filas del id duplicado
df_movies = df_movies.drop_duplicates(subset='id', keep='first') # first significa que mantenedremos la primera aparicion del id y eliminamos las siguientes

In [35]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45537
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45432 non-null  object
 1   budget                 45432 non-null  int64
 2   genres                 45432 non-null  object
 3   id                     45432 non-null  int32
 4   original_language      45421 non-null  object
 5   overview               44478 non-null  object
 6   popularity             45429 non-null  object
 7   production_companies   45432 non-null  object
 8   production_countries   45432 non-null  object
 9   release_date           45345 non-null  object
 10  revenue                45429 non-null  float64
 11  runtime                45172 non-null  float64
 12  spoken_languages       45432 non-null  object
 13  status                 45348 non-null  object
 14  tagline                20401 non-null  object
 15  title                  45429 non-null  object
 16  vote_average           45429 non-null  float64
 17  vote_count             45429 non-null  float64
 18  cast                   45432 non-null  object
 19  crew                   45432 non-null  object
dtypes: float64(4), int32(1), int64(1), object(14)
memory usage: 7.1+ MB

In [36]:
# Encontrar el idioma más frecuente
most_frequent_language = df_movies['original_language'].mode()[0]

print(most_frequent_language)

en

In [37]:
# Rellenar los nulos
df_movies['original_language'] = df_movies['original_language'].fillna(most_frequent_language)

In [38]:
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

Columna 'release_date': Se elimina valores nulos, se convierte a tipo de dato datetime y a formato año-mes-día y se crea la columna release_year

In [39]:
# Valores nulos eliminados del campo release date
df_movies = df_movies.dropna(subset=['release_date'])

In [40]:
# Convertimos la columna 'release_date' a tipo de dato datetime, y a formato año-mes-día
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')

In [41]:
# Contar valores nulos en 'release_date' después de la conversión
missing_date = df_movies['release_date'].isna().sum()
print(f"Valores nulos en 'release_date' después de la conversión: {missing_date}")

Valores nulos en 'release_date' después de la conversión: 0

In [42]:
# Crearmos la columna release_year en base a 'release date'
df_movies['release_year'] = df_movies['release_date'].dt.year

In [43]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45345 entries, 0 to 45537
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45345 non-null  object
 1   budget                 45345 non-null  int64
 2   genres                 45345 non-null  object
 3   id                     45345 non-null  int32
 4   original_language      45345 non-null  object
 5   overview               44404 non-null  object
 6   popularity             45345 non-null  object
 7   production_companies   45345 non-null  object
 8   production_countries   45345 non-null  object
 9   release_date           45345 non-null  datetime64[ns]
 10  revenue                45345 non-null  float64
 11  runtime                45099 non-null  float64
 12  spoken_languages       45345 non-null  object
 13  status                 45265 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45345 non-null  object
 16  vote_average           45345 non-null  float64
 17  vote_count             45345 non-null  float64
 18  cast                   45345 non-null  object
 19  crew                   45345 non-null  object
 20  release_year           45345 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(1), object(13)
memory usage: 7.3+ MB

In [44]:
# Observamos las modificaciones
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995

Columna 'overview': Se rellena los valores nulos con 'No overview'

In [45]:
# Rellenar valores nulos con una 'No overview' en el resumen de la película
df_movies['overview'] = df_movies['overview'].fillna('No overview')

In [46]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45345 entries, 0 to 45537
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45345 non-null  object
 1   budget                 45345 non-null  int64
 2   genres                 45345 non-null  object
 3   id                     45345 non-null  int32
 4   original_language      45345 non-null  object
 5   overview               45345 non-null  object
 6   popularity             45345 non-null  object
 7   production_companies   45345 non-null  object
 8   production_countries   45345 non-null  object
 9   release_date           45345 non-null  datetime64[ns]
 10  revenue                45345 non-null  float64
 11  runtime                45099 non-null  float64
 12  spoken_languages       45345 non-null  object
 13  status                 45265 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45345 non-null  object
 16  vote_average           45345 non-null  float64
 17  vote_count             45345 non-null  float64
 18  cast                   45345 non-null  object
 19  crew                   45345 non-null  object
 20  release_year           45345 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(1), object(13)
memory usage: 7.3+ MB

In [47]:
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995

Columna 'popularity': se modifica el tipo de dato a numérico y los valores NaN se coloca cero.

In [48]:
# La columna 'popularity' es de tipo objeto, debemos de convertirlo a tipo númerico y reemplazar errores con NaN
df_movies['popularity'] = pd.to_numeric(df_movies['popularity'], errors='coerce')

In [49]:
# Contar valores nulos en 'popularity' después de la conversión
missing_popularity = df_movies['popularity'].isna().sum()
print(f"Valores nulos en 'popularity' después de la conversión: {missing_popularity}")

Valores nulos en 'popularity' después de la conversión: 0

In [50]:
# Observamos los cambios
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995

In [51]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45345 entries, 0 to 45537
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45345 non-null  object
 1   budget                 45345 non-null  int64
 2   genres                 45345 non-null  object
 3   id                     45345 non-null  int32
 4   original_language      45345 non-null  object
 5   overview               45345 non-null  object
 6   popularity             45345 non-null  float64
 7   production_companies   45345 non-null  object
 8   production_countries   45345 non-null  object
 9   release_date           45345 non-null  datetime64[ns]
 10  revenue                45345 non-null  float64
 11  runtime                45099 non-null  float64
 12  spoken_languages       45345 non-null  object
 13  status                 45265 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45345 non-null  object
 16  vote_average           45345 non-null  float64
 17  vote_count             45345 non-null  float64
 18  cast                   45345 non-null  object
 19  crew                   45345 non-null  object
 20  release_year           45345 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(12)
memory usage: 7.3+ MB

*Columnas anidadas:* cast, crew; en el caso de estas columnas los valores estan anidadas en formato cadena y las convertiremos a lista, para ello se emplea la funcion convert_a_list, para luego aplicar la función en cada una de las columnas, con el objetivo de extraer el valor requerido para el análisis en una nueva columna, respectivamente las cuales serán actor y director.

In [ ]:
# Aplicamos la funcion para convertir de candena a lista 
df_movies['cast'] = df_movies['cast'].apply(convert_a_list)

# Extraemos el valor name
df_movies['actor'] = df_movies['cast'].apply(lambda x: [d['name'] for d in x[:3] if 'name' in d])

# Para que el valor de la columna aparezca sepadado por una coma
df_movies['actor'] = df_movies['actor'].apply(lambda x: ', '.join(x))

In [ ]:
# Aplicar la función para convertir de cadena a lista 
df_movies['crew'] = df_movies['crew'].apply(convert_a_list)

# Extraer el nombre del director si el trabajo (job) es 'director'
df_movies['director'] = df_movies['crew'].apply(lambda x: [d['name'] for d in x if isinstance(d, dict) and d.get('job') == 'Director'])

# Para que el valor de la columna aparezca sepadado por una coma
df_movies['director'] = df_movies['director'].apply(lambda x: ', '.join(x) if x else None)

In [54]:
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,actor,director
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston

In [55]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45345 entries, 0 to 45537
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45345 non-null  object
 1   budget                 45345 non-null  int64
 2   genres                 45345 non-null  object
 3   id                     45345 non-null  int32
 4   original_language      45345 non-null  object
 5   overview               45345 non-null  object
 6   popularity             45345 non-null  float64
 7   production_companies   45345 non-null  object
 8   production_countries   45345 non-null  object
 9   release_date           45345 non-null  datetime64[ns]
 10  revenue                45345 non-null  float64
 11  runtime                45099 non-null  float64
 12  spoken_languages       45345 non-null  object
 13  status                 45265 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45345 non-null  object
 16  vote_average           45345 non-null  float64
 17  vote_count             45345 non-null  float64
 18  cast                   45345 non-null  object
 19  crew                   45345 non-null  object
 20  release_year           45345 non-null  int32
 21  actor                  45345 non-null  object
 22  director               44510 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(14)
memory usage: 8.0+ MB

Columna 'return': Creamos esta columna en base a las columnas 'revenue' y 'budget', en caso no se tenga valor se tomará el valor cero

In [56]:
# Crear la columna return, con los campos revenue y buget, si no hay datos tomará el valor 0
df_movies['return'] = df_movies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

In [57]:
# Observamos los cambios
df_movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,actor,director,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter,12.451801
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston,4.043035

In [58]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45345 entries, 0 to 45537
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45345 non-null  object
 1   budget                 45345 non-null  int64
 2   genres                 45345 non-null  object
 3   id                     45345 non-null  int32
 4   original_language      45345 non-null  object
 5   overview               45345 non-null  object
 6   popularity             45345 non-null  float64
 7   production_companies   45345 non-null  object
 8   production_countries   45345 non-null  object
 9   release_date           45345 non-null  datetime64[ns]
 10  revenue                45345 non-null  float64
 11  runtime                45099 non-null  float64
 12  spoken_languages       45345 non-null  object
 13  status                 45265 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45345 non-null  object
 16  vote_average           45345 non-null  float64
 17  vote_count             45345 non-null  float64
 18  cast                   45345 non-null  object
 19  crew                   45345 non-null  object
 20  release_year           45345 non-null  int32
 21  actor                  45345 non-null  object
 22  director               44510 non-null  object
 23  return                 45345 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1), object(14)
memory usage: 8.3+ MB

# Filtrado del DataFrame:
Con el objetivo de optimizar la data para el análisis exploratorio, se ha filtrado los datos según los siguientes criterio: idioma original o traducción en  español o inglés de las películas ( columna'spoken_languages'), y año de estreno de las películas posterior a 1980  películas. A continuación se explorar los datos y se realiza el filtrado.

In [59]:
unique_languages = list(df_movies['original_language'].unique())
print(unique_languages)

['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru', 'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy', 'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo', 'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo', 'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv', 'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms', 'sq', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu', 'lb', 'si']

In [60]:
unique_spok = list(df_movies['spoken_languages'].unique())
print(unique_spok)

['English', 'English, Français', 'English, Español', 'Français, English', 'English, Deutsch', 'English, Pусский, Español', 'English, Latin', 'English, Español, Nederlands', '广州话 / 廣州話, Français', '普通话', 'Pусский, English', 'Español, English', 'Español, English, Français, Magyar', '', 'shqip, Italiano', 'Italiano, Español', 'English, Français, 한국어/조선말, Español', 'English, Pусский', 'English, Magyar', 'Français, Español', 'Français', 'Deutsch, English', 'فارسی', 'Nederlands', 'Dansk, English, Français, Deutsch', 'English, Français, Pусский', 'Deutsch', 'English, Français, Latin, ', '广州话 / 廣州話, English', 'English, Français, Deutsch', '广州话 / 廣州話, English, 日本語, 普通话', 'Italiano', 'العربية, Français', 'Español', 'English, Hrvatski, Bosanski', 'Français, , Español', 'English, Deutsch, Română', 'English, Bahasa indonesia, Bahasa melayu', 'English, Italiano, 日本語, Pусский', 'English, 日本語', 'Magyar, English', 'English, Deutsch, Español', 'Pусский', 'shqip, English, ', 'English, Deutsch, Français', 'Français, Español, English', 'English, Italiano, svenska', 'English, עִבְרִית', ', English', 'Český, English, Magyar', 'English, 广州话 / 廣州話', 'English, , 日本語', 'English, ', 'English, 한국어/조선말, Français', 'English, Español, Français', 'English, 普通话', ', English, 日本語', 'Français, Italiano', 'Français, Italiano, Pусский, Español, English', 'Français, Polski', 'Français, Magyar, Polski', 'English, Gaeilge', 'English, Norsk, svenska', 'English, Français, Deutsch, Pусский', 'English, Slovenčina', 'svenska, English', 'English, Français, العربية, Deutsch', 'English, Français, Tiếng Việt', 'English, Italiano', 'English, Italiano, Pусский', 'Český, English', 'English, Tiếng Việt', '日本語', '日本語, English', 'Português, Deutsch, English, 日本語, Tiếng Việt', 'Français, Deutsch, Español', 'Deutsch, Polski, עִבְרִית, English', 'English, Deutsch, 广州话 / 廣州話, 日本語, Magyar', 'English, Latin, Español', 'Dansk, English, Français, Deutsch, Español', 'English, हिन्दी', 'svenska', 'العربية, English, Italiano, 普通话', 'Italiano, Deutsch, English, Magyar', 'English, Italiano, 日本語', 'Français, Pусский', 'Italiano, English', 'العربية', 'Català, English, Español', 'English, Français, Český', 'Deutsch, Íslenska, 日本語, English', '한국어/조선말', 'Afrikaans, English', 'English, Français, Italiano', 'English, Français, Deutsch, Pусский, Srpski', 'Deutsch, svenska, English', 'বাংলা', 'English, Português', 'עִבְרִית', 'Nederlands, Français, Latin, Español', '广州话 / 廣州話, 普通话', 'Deutsch, Pусский', 'English, Srpski', 'العربية, Français, Wolof', 'English, Français, Deutsch, Italiano', 'Latin, English', 'English, Română', 'Magyar', 'Cymraeg', 'English, Deutsch, 日本語', 'Tiếng Việt', 'English, Italiano, Latin', '广州话 / 廣州話, English, Bahasa melayu, ภาษาไทย', '广州话 / 廣州話', 'English, Français, Español', 'Nederlands, English', 'English, Deutsch, ', 'Polski', 'Deutsch, Français, Italiano, English', 'Nederlands, English, Latviešu', 'English, Français, Italiano, Português', 'English, 普通话, Español', 'English, Deutsch, Kiswahili', 'English, Polski', 'Español, English, 广州话 / 廣州話', 'English, Français, Italiano, Español', 'English, Português, Español', 'English, Deutsch, Italiano', '日本語, 广州话 / 廣州話, English', 'Český, English, Français, Deutsch, Polski, Pусский', 'български език, English', 'Italiano, Français', 'Français, Latin, English', 'Pусский, Français, Deutsch, English, Italiano', 'Český, Latin', 'Deutsch, עִבְרִית, Italiano, Polski, Pусский', 'Latin, English, Français, Italiano, Deutsch', 'Français, Italiano, Polski', 'English, Deutsch, Latin', 'Deutsch, Italiano, العربية, English', 'ελληνικά, Italiano, Español', 'English, Español, Deutsch, עִבְרִית, العربية, ', 'العربية, English, Türkçe', ', English, Français, Tiếng Việt', 'English, Pусский, Deutsch', '广州话 / 廣州話, 日本語, 普通话', 'English, Italiano, Latin, Español', 'English, Deutsch, Italiano, Latin', 'Deutsch, English, Français', ', Italiano, , English', '日本語, ภาษาไทย, English', 'Deutsch, English, Français, Italiano', 'Español, 广州话 / 廣州話, English', 'English, Français, हिन्दी, Pусский', 'English, Deutsch, Français, Pусский', 'English, Français, Pусский, Tiếng Việt', 'English, suomi, Français, Deutsch, Italiano', 'English, Esperanto', 'Deutsch, ελληνικά, English', 'Português, English, Français, Magyar, ', 'English, Français, Deutsch, Italiano, 日本語', 'Latin, Română, български език, ελληνικά, English', 'Norsk', 'English, suomi', 'English, 普通话, Pусский', 'Français, Deutsch', 'English, Pусский, Український, 普通话, 广州话 / 廣州話', 'Český, Pусский, Slovenčina', '日本語, English, Italiano', 'English, svenska', 'Pусский, Français, ქართული', 'English, Français, Magyar', 'Deutsch, Español, English', 'English, 日本語, , ', 'English, svenska, Deutsch', 'English, Cymraeg', 'English, Français, Italiano, 日本語', '广州话 / 廣州話, English, Français, Italiano, 日本語, 普通话', 'English, Español, ελληνικά', 'English, Pусский, Srpski, Bosanski, Hrvatski', '广州话 / 廣州話, Deutsch, English', 'English, Français, Deutsch, Italiano, 普通话, Español', 'English, Pусский, Polski', 'English, Français, Deutsch, Español', 'Bosanski, Srpski, English', '广州话 / 廣州話, English, Français, 普通话', 'English, Pусский, Français', 'Gaeilge, English', 'Polski, English', 'English, Français, Deutsch, svenska, Italiano, Pусский', 'Deutsch, English, Dansk, 普通话, 广州话 / 廣州話', 'English, 普通话, ', 'English, עִבְרִית, Español, Deutsch', 'shqip, English', 'English, Türkçe', '普通话, 广州话 / 廣州話', '한국어/조선말, English', '广州话 / 廣州話, Český, English', 'Français, English, Italiano', 'English, , Español', 'English, Deutsch, Pусский', '普通话, 广州话 / 廣州話, English', 'Nederlands, English, Français, Deutsch', 'Bokmål', 'Український', 'English, Français, 日本語, Pусский, Español', 'Norsk, svenska', 'العربية, English', 'English, Deutsch, ภาษาไทย', 'Français, Português', 'English, 广州话 / 廣州話, 普通话', 'English, Français, Magyar, Español', 'English, Français, Deutsch, Latin', 'English, Magyar, ', 'English, Français, Latin, Español', 'English, Kiswahili', 'Český, English, 日本語, 普通话, Pусский', 'English, Magyar, Polski', 'Deutsch, Français, Latin, العربية, ελληνικά, English', 'English, Afrikaans', 'English, Italiano, Español, 广州话 / 廣州話', 'No Language', 'English, Italiano, Deutsch, Latin', 'Český, Deutsch, English, Français', 'English, Íslenska', 'English, Deutsch, svenska, ', 'English, Deutsch, Magyar', 'Dansk, English, 한국어/조선말, Norsk, svenska', ', Deutsch', 'Magyar, English, Français', 'English, Français, Pусский, Español', 'English, Deutsch, Norsk, svenska', 'English, Italiano, Español', 'العربية, English, Français, Italiano', 'Italiano, English, Deutsch, Français', 'Pусский, English, עִבְרִית', 'Deutsch, Italiano', 'English, Magyar, Italiano', 'العربية, English, Français', ', हिन्दी', 'English, Norsk', 'Español, English, العربية', 'Português', 'English, Français, ', 'English, Gaeilge, Latin', 'Dansk, Deutsch, English', 'English, 日本語, Pусский', 'Italiano, Türkçe', 'עִבְרִית, English', 'Français, English, Latin, Español', 'Français, English, Español', 'Kiswahili, English', 'Latin, English, Français, Deutsch', 'Český, English, Français', '广州话 / 廣州話, English, 普通话', 'Tiếng Việt, English, Français', 'English, Italiano, ภาษาไทย', '广州话 / 廣州話, 普通话, Pусский', 'Magyar, Español', 'Deutsch, Polski, ', 'Français, 日本語, English', 'English, العربية', 'English, Italiano, Kiswahili', 'English, Italiano, Español, ภาษาไทย', 'English, Français, Italiano, Pусский, ภาษาไทย', 'Český, English, Español', 'English, ελληνικά, Italiano', 'Deutsch, English, 日本語', 'English, Norsk, Français, Español', 'Deutsch, Français, English', 'Český, English, Italiano', 'English, , Latin, Español', 'Latin, Español, English', 'English, ภาษาไทย', 'English, ελληνικά', 'English, Italiano, Português', 'Deutsch, English, Español, Italiano', 'Português, English', 'Italiano, English, Pусский', 'Srpski', '日本語, English, Deutsch', 'English, Français, Italiano, Latin, 普通话', 'Deutsch, suomi, Français, Pусский, English', 'Bosanski, English, Italiano', 'Français, Tiếng Việt', 'Latin, English, Deutsch, Français, Español', '普通话, English, Español', 'English, Pусский, Türkçe, Română', 'Deutsch, Italiano, Español', 'ελληνικά, English, Italiano', 'English, Español, 한국어/조선말', 'Deutsch, English, Español', 'العربية, English, 日本語, فارسی', 'English, , Gaeilge', 'Magyar, English, Español', 'Pусский, Deutsch, Français, English', 'English, Deutsch, Polski', 'Deutsch, 日本語, English', 'हिन्दी', 'Nederlands, English, Deutsch', 'हिन्दी, , Français', 'Magyar, Pусский', 'Latin, English, Français', 'Català', 'English, Français, Hrvatski, svenska, ภาษาไทย', 'Dansk', 'Deutsch, English, Français, Pусский', 'English, Français, Latin, Polski, Português, Español', 'Pусский, Français', 'Español, English, ', 'English, Français, Español, euskera', 'Deutsch, English, Italiano, Polski, Pусский', 'Français, English, Italiano, Deutsch', 'English, Français, Português', 'Azərbaycan, فارسی', 'हिन्दी, English, Français, Español', 'Dansk, English', 'English, Malti, Français', 'English, Español, 广州话 / 廣州話', 'עִבְרִית, English, Español', 'English, Pусский, اردو', 'English, Français, Deutsch, עִבְרִית', 'English, Français, Deutsch, Español, ', 'English, Français, Português, Español', 'English, Italiano, Português, Español', 'English, Deutsch, Italiano, 日本語, Latin, Pусский', 'English, Italiano, العربية', 'ภาษาไทย, 广州话 / 廣州話, English', 'English, Français, Deutsch, svenska', 'English, Deutsch, ελληνικά', 'English, isiZulu', 'English, עִבְרִית, Pусский, ', 'English, Español, Italiano', 'English, Español, Deutsch', 'Català, Latin, Español', 'Český, English, Pусский', 'Français, ελληνικά, Italiano', 'Deutsch, Latin', 'Tiếng Việt, English', 'English, Deutsch, suomi, 日本語, 广州话 / 廣州話', 'English, Español, Tiếng Việt, ', 'Český, English, Deutsch, Polski, Español', 'English, اردو', 'English, العربية, Français, Deutsch, Pусский, Český, Slovenčina', 'English, Français, 日本語', 'English, Español, Français, Pусский', 'Français, svenska', 'Nederlands, English, Polski', 'English, 日本語, 普通话', 'English, Deutsch, Português', '广州话 / 廣州話, Français, Español', 'Català, Español', 'English, Polski, Português, Español', 'ελληνικά, English', 'Český, English, ελληνικά, Pусский', 'Afrikaans, , English', 'Deutsch, English, Français, العربية', 'Deutsch, English, Pусский', 'العربية, עִבְרִית, English', 'Italiano, Latin', 'Dansk, svenska', 'Español, Français, English', 'Français, English, 日本語', 'English, Français, Italiano, Română, Pусский, ', 'Dansk, Español', 'Deutsch, Italiano, English', 'Český, Deutsch', 'Français, Polski, Español', 'English, Français, Deutsch, ภาษาไทย', 'English, Français, 普通话', '日本語, 普通话, العربية, English', 'English, Italiano, Latin, Pусский', 'English, Italiano, 普通话', 'Bamanankan, Français', 'suomi, Deutsch', 'English, Français, עִבְרִית, ', 'Nederlands, English, Français', 'English, Français, Deutsch, ελληνικά', 'English, Română, Español', 'English, Italiano, 日本語, Español', ', English, Latin', 'English, עִבְרִית, ', 'English, Deutsch, 日本語, Latin, Español', 'English, Español, Kiswahili', 'Français, English, Deutsch, Český', 'English, Deutsch, ελληνικά, Italiano', 'English, Pусский, Español, 한국어/조선말', 'Română', 'Deutsch, Slovenčina', 'English, Español, ภาษาไทย, Tiếng Việt', 'English, 日本語, Español', 'English, עִבְרִית, Pусский', 'English, فارسی', 'English, Magyar, Pусский', 'ภาษาไทย', '广州话 / 廣州話, English, Deutsch, العربية, Français', 'Pусский, English, Español, Français', 'Pусский, English, 日本語', 'Český, English, Español, ', 'Bosanski, English, Français, Deutsch, Español', 'English, فارسی, Polski, پښتو', 'Magyar, Český, Deutsch, English', 'Český', 'English, Français, Italiano, 普通话, Pусский', 'English, Somali', 'Français, Deutsch, Italiano', 'English, Français, 日本語, 한국어/조선말', 'English, Français, Norsk', 'Pусский, English, 日本語, Français, Deutsch, Italiano, Español', 'shqip, English, Français', 'Deutsch, Français, 日本語, 한국어/조선말, Pусский, العربية, English', 'Magyar, Český', 'Latin, svenska', 'English, Tiếng Việt, Français', 'Magyar, Italiano, Latin, English', 'English, Français, Deutsch, Polski, Pусский', 'Hrvatski, English, Français, Srpski', 'العربية, English, עִבְרִית', 'Český, English, Magyar, Español', 'Český, Română, English', '普通话, English', 'English, עִבְרִית, Magyar', 'العربية, English, Français, Deutsch, Italiano', 'العربية, English, Pусский, Український, Deutsch', 'Français, English, Pусский', 'Italiano, Tiếng Việt', 'English, Français, Deutsch, Nederlands, Italiano', 'English, 日本語, ', 'Český, English, Deutsch, Slovenčina', 'English, 日本語, Deutsch, Français', 'العربية, Deutsch', 'العربية, Nederlands, English, Français, Deutsch, Italiano', 'English, , Deutsch', 'Český, English, Deutsch, Español, Pусский', '普通话, Pусский', 'English, Deutsch, Italiano, Español', 'Français, 日本語, Pусский', 'Italiano, ελληνικά, English', 'Español, Italiano', 'Français, Italiano, Español', 'Italiano, English, Español', 'العربية, English, Français, Deutsch', 'Français, Italiano, Pусский', '日本語, English, Français, , Deutsch', ', فارسی', 'English, Français, עִבְרִית', ', English, Français, Deutsch, Türkçe', 'Deutsch, Magyar, svenska', 'Français, ', 'Bosanski', 'English, 한국어/조선말, 广州话 / 廣州話, Deutsch, Español, Íslenska, Italiano', 'Dansk, Íslenska, Norsk, svenska, English', 'Türkçe', 'Français, English, 日本語, 普通话', 'English, 日本語, Pусский, Español', 'English, Gaeilge, Latin, 普通话', 'English, Italiano, Deutsch, Français', 'English, 日本語, 普通话, Português, Pусский', 'Dansk, svenska, English', 'Italiano, English, Français', 'English, فارسی, Pусский', 'English, हिन्दी, Magyar, Español', 'Français, English, Deutsch', ', Türkçe', 'English, Italiano, ελληνικά', 'العربية, English, Italiano', 'English, 한국어/조선말, Pусский', 'ქართული, עִבְרִית', 'English, ਪੰਜਾਬੀ', 'Deutsch, עִבְרִית, Polski, Pусский', 'Pусский, English, Français, Íslenska, Italiano', 'English, Español, svenska', 'suomi', 'Pусский, svenska, English', 'English, , ਪੰਜਾਬੀ, Deutsch', 'English, עִבְרִית, Español', ', Pусский', 'Français, Italiano, English', 'Italiano, Français, Español, English, Català, Dansk, Deutsch', 'Український, English, Italiano', 'English, Français, Deutsch, Pусский, Español', '日本語, English, Bahasa melayu', 'Español, English, 日本語, ', 'Deutsch, Français, Polski, English', 'English, Magyar, Español', 'Český, English, Deutsch', 'English, Deutsch, Italiano, Latin, Polski, Pусский', 'English, Français, Deutsch, Magyar, Italiano, Español', 'English, Italiano, 日本語, 普通话', 'English, ελληνικά, Pусский', 'Deutsch, English, Polski', '广州话 / 廣州話, English, Italiano', 'suomi, Deutsch, Pусский', 'العربية, English, עִבְרִית, Pусский', '日本語, English, Français', 'Français, Somali, Español, English', 'Español, Deutsch', 'Deutsch, Français, Pусский, English', 'العربية, English, Français, Italiano, Español', '日本語, Español', '广州话 / 廣州話, 普通话, Português, ภาษาไทย', 'English, Dansk', 'العربية, English, Français, Deutsch, Română', 'Deutsch, 日本語', 'Pусский, English, Français', 'Nederlands, English, Română', 'Italiano, Polski, Español', 'العربية, English, Français, Español', 'Slovenčina, English', 'English, Français, Italiano, Polski', 'English, Français, Latin, Português, Español', 'Deutsch, Türkçe, , English', '普通话, Español', '广州话 / 廣州話, English, Pусский', 'English, Deutsch, فارسی', 'English, Français, Deutsch, Italiano, Polski, Español', 'English, हिन्दी, اردو', 'Deutsch, Türkçe', 'Dansk, Français, svenska', 'Dansk, English, Deutsch, Italiano', '广州话 / 廣州話, English, Deutsch, 普通话, Português', 'беларуская мова, Deutsch, Pусский', 'Português, Español', 'Nederlands, Deutsch, English', 'English, 日本語, Français', 'English, , , Deutsch, ', 'Hrvatski, English, ', 'English, Français, Deutsch, עִבְרִית, Polski, ', 'English, 普通话, Pусский, ภาษาไทย', 'Français, Português, English', 'ελληνικά, English, Gaeilge', 'Deutsch, Français, Italiano', 'Magyar, svenska', 'Deutsch, Español', 'ελληνικά, Italiano', 'Latin, Español', 'Gaeilge, English, Español', 'Français, Deutsch, English, Italiano, Latin', 'English, Français, עִבְרִית, Italiano, Español, Deutsch', 'English, Français, Magyar, پښتو', 'Deutsch, Polski', 'Français, Türkçe', 'English, Français, Italiano, 日本語, Deutsch', 'עִבְרִית, Latin', 'Italiano, Español, English', 'English, 한국어/조선말', 'Deutsch, svenska', 'English, Pусский, svenska', 'Deutsch, עִבְרִית', 'Français, Íslenska', 'English, 普通话, Español, 广州话 / 廣州話', 'English, Français, Română, Español', 'Kiswahili, English, Deutsch, Tiếng Việt', '广州话 / 廣州話, 普通话, Español', 'Dansk, Italiano, svenska', 'Deutsch, English, Pусский, Español', 'English, Français, العربية, Español', 'Español, English, Italiano', 'Français, English, Español, Italiano, Deutsch', 'العربية, English, ελληνικά, עִבְרִית', 'Český, English, Srpski', 'Italiano, Pусский', 'العربية, English, Français, עִבְרִית, हिन्दी, 日本語, فارسی, Español', 'English, Français, Italiano, Pусский', 'English, Nederlands, Polski, Deutsch, Latin', '한국어/조선말, Pусский', 'Dansk, English, Deutsch, ', 'English, Français, Deutsch, ελληνικά, Latin', 'English, Français, Deutsch, Magyar', 'English, Français, Magyar, Italiano', 'Español, Français', 'Český, English, Français, Deutsch', 'Français, Română', 'Deutsch, ελληνικά', 'English, 日本語, Français, العربية, Español', '日本語, 普通话', 'Deutsch, English, Français, हिन्दी, Türkçe, 广州话 / 廣州話', 'български език, English, Français, Pусский, Español', 'English, Français, ภาษาไทย', 'Português, Français, Deutsch, 한국어/조선말', 'Deutsch, Français, Italiano, Español, English', 'English, Pусский, 普通话', 'English, , Gaeilge, Latin, Cymraeg', 'Deutsch, Pусский, Español', 'English, Magyar, Norsk', 'English, Pусский, Deutsch, Italiano', 'Nederlands, English, Français, Português', 'Español, English, 한국어/조선말', 'shqip, English, Français, Pусский, , Español', 'Italiano, Latin, Français', 'English, Français, Italiano, Latin', 'Italiano, Français, Deutsch, English', '한국어/조선말, 广州话 / 廣州話', '日本語, 普通话, Español', ', Deutsch, English', ', Español', 'svenska, English, Français, Deutsch, Türkçe, Italiano', 'العربية, English, Français, 한국어/조선말', 'Dansk, English, Français, Español', 'Deutsch, ภาษาไทย, English', 'Latin, English, Español', 'العربية, Français, עִבְרִית, , Español', 'Français, Italiano, Nederlands, 普通话, English', 'Esperanto, English', 'English, Español, ', 'Latin, English, 广州话 / 廣州話', '日本語, 普通话, ', '日本語, 普通话, Pусский', 'Deutsch, Italiano, Latin', 'English, Latin, Cymraeg', 'English, Deutsch, Norsk', 'Esperanto', ', Pусский, Italiano', 'Français, Latin', '日本語, English, Français, Italiano, Português', 'Français, Deutsch, Magyar, Pусский', 'Český, Slovenčina', 'Français, Nederlands, English', 'English, Nederlands', 'English, Français, Kiswahili', 'English, suomi, Français, Deutsch, Italiano, Latin, Norsk, Pусский, Español, svenska', 'English, Français, Deutsch, Tiếng Việt', 'suomi, svenska', 'English, Français, svenska', '广州话 / 廣州話, English, Italiano, 普通话', 'Azərbaycan, ქართული', 'ελληνικά', '广州话 / 廣州話, Tiếng Việt', 'suomi, English', '广州话 / 廣州話, English, 普通话, ', '广州话 / 廣州話, 普通话, Português', 'Hrvatski, Srpski', ', English, Deutsch, עִבְרִית, Pусский', 'العربية, Français, Magyar, Slovenčina, Español, Türkçe', 'Română, Deutsch', 'suomi, Pусский', 'Bosanski, English, Srpski', 'Pусский, English, svenska', 'Français, Magyar', 'Deutsch, Norsk, svenska', 'Nederlands, 广州话 / 廣州話, English', 'हिन्दी, , தமிழ்', 'Română, Deutsch, Türkçe, български език, ', 'Deutsch, Français, 日本語', 'Český, Pусский', 'Français, Italiano, Deutsch, English', '广州话 / 廣州話, English, Bahasa indonesia, 普通话', 'Dansk, Srpski, svenska', 'Magyar, Slovenčina', 'Deutsch, Français, العربية, 广州话 / 廣州話, Latin', 'English, Deutsch, 한국어/조선말', 'العربية, svenska', '한국어/조선말, English, Français, Türkçe, 普通话, 广州话 / 廣州話', '广州话 / 廣州話, English, Bahasa melayu, 普通话, Tiếng Việt', 'Český, Magyar', '广州话 / 廣州話, 日本語', 'Nederlands, English, 日本語', 'Český, Español', 'Polski, English, Dansk, Deutsch', 'Nederlands, English, Français, Deutsch, svenska', 'Français, 日本語', 'Español, Polski', 'Nederlands, English, Français, Deutsch, Magyar', 'Deutsch, 한국어/조선말', ', Français, Deutsch', 'English, 日本語, ภาษาไทย', 'English, Deutsch, Türkçe', 'Deutsch, हिन्दी', 'English, Français, ελληνικά, Italiano, Português', '한국어/조선말, Español, ', 

In [61]:
# Filtramos la columna spoken_languages solo las filas que contengan 'Español o English' 
filtered_df = df_movies[df_movies['spoken_languages'].str.contains('Español|English', na=False)]
filtered_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,actor,director,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter,12.451801
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston,4.043035

In [62]:
filtered_df.shape

(29832, 24)

In [63]:
print(filtered_df['release_year'].min())
print(filtered_df['release_year'].max())

1903
2020

In [ ]:
# Filtrar el DataFrame para obtener solo las películas con release_year mayor a 1980
filtered_df = filtered_df[filtered_df['release_year'] > 1980]

In [65]:
filtered_df.shape

(21875, 24)

In [66]:
filtered_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,actor,director,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter,12.451801
1,No collecction,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston,4.043035

In [67]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21875 entries, 0 to 45537
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  21875 non-null  object
 1   budget                 21875 non-null  int64
 2   genres                 21875 non-null  object
 3   id                     21875 non-null  int32
 4   original_language      21875 non-null  object
 5   overview               21875 non-null  object
 6   popularity             21875 non-null  float64
 7   production_companies   21875 non-null  object
 8   production_countries   21875 non-null  object
 9   release_date           21875 non-null  datetime64[ns]
 10  revenue                21875 non-null  float64
 11  runtime                21853 non-null  float64
 12  spoken_languages       21875 non-null  object
 13  status                 21852 non-null  object
 14  tagline                12539 non-null  object
 15  title                  21875 non-null  object
 16  vote_average           21875 non-null  float64
 17  vote_count             21875 non-null  float64
 18  cast                   21875 non-null  object
 19  crew                   21875 non-null  object
 20  release_year           21875 non-null  int32
 21  actor                  21875 non-null  object
 22  director               21631 non-null  object
 23  return                 21875 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1), object(14)
memory usage: 4.0+ MB

# 3. Carga/Disponibilización de datos (Load)

A fin de optimizar la etapa de análisis exploratorio, se han definido un conjunto de variables relevantes, entre las que se incluyen:'id', 'belongs_to_collection', 'budget', 'genres', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'title', 'vote_average', 'vote_count', 'release_year', 'actor', 'director', 'return'. Estoa datos han sido exportados a un archivo parquet, un formato eficiente para almacenar grandes volúmenes de datos estructurados.

In [68]:
columns_var = ['id','belongs_to_collection','budget','genres','overview','popularity','production_companies','production_countries','release_date','revenue','runtime','spoken_languages','title','vote_average','vote_count','release_year','actor','director','return']

In [69]:
df_limpio = filtered_df[columns_var]

In [70]:
df_limpio.head(2)

,id,belongs_to_collection,budget,genres,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,release_year,actor,director,return
0,862,Toy Story Collection,30000000,"Animation, Comedy, Family","Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Toy Story,7.7,5415.0,1995,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter,12.451801
1,8844,No collecction,65000000,"Adventure, Fantasy, Family",When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures Teitler Film Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,"English, Français",Jumanji,6.9,2413.0,1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston,4.043035

In [71]:
df_limpio.shape

(21875, 19)

In [72]:
# Guardamos el DF en un formato parquet
df_limpio.to_parquet('D:/2024/HenryData/Py_Individual/PI_Recomendacion/Datasets/df_limpio.parquet', index=False)
#D:\2024\HenryData\Py_Individual\PI_Recomendacion\Datasets